@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;800&display=swap');

:root {
  --color-darkgreen: rgb(95, 113, 97);
  --color-green: rgb(109, 139, 116);
  --color-white: white;
  --color-grey: rgb(208, 201, 192);
  --color-lightgrey: rgb(239, 234, 216);
  --color-black: rgb(27, 26, 23);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-lightgrey);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reuseable Class */

.container {
  max-width: 968px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
